<h3><a class="btn btn-secondary" href="/chicken"><i class="fa fa-plus"></i> Create New</a> Chicken List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>Weight</th>
            <th>Steps</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.birthday}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.steps}}</td>
            <td>
                <a href="/chicken/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/chicken/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>